<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="{% static '/dash.css' %}">
    <title>chart</title>
  </head>
  <body>
    <!-- End Of Nav -->
    <div class="container">
        <div class="user" id="user">
            <script>
                let val = document.getElementById('user')
                let newdate = new Date()
                if(newdate.getHours() >16 && newdate.getHours() <22)
                   {
                       val.innerHTML="Good Evening"
                   } 
               else if(newdate.getHours()>12 && newdate.getHours()<16)
                   {
       
                       val.innerHTML="Good Afternoon"
                   }
               else if(newdate.getHours()>22)
                   {
                       val.innerHTML="Good Night"
                   }
               else
                   {
                       val.innerHTML="Good Morning"
                   }
            </script>
        </div>
        <center>
        <div class="time" id="cal">
          <script>
            let a;
            let date;
            let time;
            const options = { weekday: 'long',year: 'numeric',month:'long',day:'numeric'};
            setInterval(() => {
            a= new Date();
            date= a.toLocaleDateString(undefined,options); 
            time = a.getHours() + ':' + a.getMinutes() + ':' + a.getSeconds();
            document.getElementById('cal').innerHTML= time + "<br>" + date;}, 1000);
          </script>
        </div>
    </center>
    
        <div class="company">
            <ul>
                <li><h2>Componies :</h2></li>
                <ul>
                    <li>TCS</li>
                    <li>Tata Motors</li>
                    <li>Reliance</li>
                    <li>SBI</li>
                    <li>Paytm</li>
                </ul>
            </ul>
        </div>
        <div class="gainer">
            <ul>
                <li><h2>Top Gainer's :</h2></li>
                <ul>
                    <li>TCS</li>
                    <li>Tata Motors</li>
                    <li>Reliance</li>
                    <li>SBI</li>
                    <li>Paytm</li>
                </ul>
            </ul>
        </div>
        <div class="graph">
            <div class="close">
                <p>Previous Close : 120</p>
            </div>
            
          <div class="p_open">
            <p>Open : 120</p>
          </div>
          <div class="high">
            <p>High: 120</p>
          </div>
          <div class="low">
            <p>Low: 120</p>
          </div>
          <div class="main_graph">
        <center><canvas id="myChart" style="width:100%;max-width:600px"></canvas></center>

            <script>
            var xValues = [50,60,70,80,90,100,110,120,130,140,150];
            var yValues = [7,8,8,9,9,9,10,11,14,14,15];
            
            new Chart("myChart", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "rgba(0,0,255,1.0)",
                  borderColor: "rgba(0,0,255,0.1)",
                  data: yValues
                }]
              },
              options: {
                legend: {display: false},
                scales: {
                  yAxes: [{ticks: {min: 6, max:16}}],
                }
              }
            });
            </script>
          </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Mutual Funds</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">About us</a></li>
                
            </ul>
        </div>
        <div class="Suggestion">
            <ul>
                <li>Buy:<progress max="100" value="65"></progress></li>
                <li>Hold:<progress max="100" value="35"></progress></li>
                <li>Sell:<progress max="100" value="85"></progress></li>
            </ul>
        </div>
      </div>
</body>
</html>