*{
    margin:0.3px;
    list-style:none;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.container {  display: grid;
    grid-template-columns: 0.5fr 1.8fr 0.7fr;
    grid-template-rows: 0.3fr 2.1fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "user time company"
      "nav graph company"
      "Suggestion Suggestion gainer";
  }
  
  .user { grid-area: user;
   
   }
  
  .time { 
    grid-area: time;background-color:rgba(0, 255, 55, 0.753);
    
  }
  
  .company { grid-area: company;background-color:rgba(0, 89, 255, 0.342);
  }
  .company ul li 
  {
    margin-top: 15px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    color:black;
    margin-left: 15px;
  }

  .company ul li a
  {
    
    align-items: center;
    vertical-align: middle;
    position: relative;
    color:black;
    text-align: center;
  }
  .company ul li:hover
  {
    
    align-items: center;
    vertical-align: middle;
    position: relative;
    background-color: rgb(150, 245, 8);
    width:120px;
    height:25px;
    border-radius: 5px;
   
    
  }

  
  .gainer { grid-area: gainer;background-color:rgba(255, 0, 76, 0.342); }
  .gainer ul li 
  {
    margin-top: 15px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    color:black;
    
  }

  .gainer ul li a
  {
    
    align-items: center;
    vertical-align: middle;
    position: relative;
    color:black;
    text-align: center;
  }
  .gainer ul li:hover
  {
   
    align-items: center;
    vertical-align: middle;
    position: relative;
    background-color: rgb(150, 245, 8);
    width:120px;
    height:25px;
    border-radius: 5px;
   
    
  }



  
  .graph {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "close p_open high low"
      "main_graph main_graph main_graph main_graph"
      "main_graph main_graph main_graph main_graph";
    grid-area: graph;
    background-color:rgba(238, 255, 0, 0.342);
  }
  .close{
      grid-area:close;
      background-color:rgba(255, 230, 0, 0.705);
  }
  .p_open { grid-area: p_open;
  background-color:rgba(0, 255, 213, 0.705);
 }
  
  .high { grid-area: high;
    background-color:rgba(0, 213, 213, 0.705);
}
  
  .low { grid-area: low;
    background-color:rgba(38, 0, 255, 0.705); }
  
  .main_graph { grid-area: main_graph;
    }
  
  .nav { grid-area: nav;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }
    .nav ul li 
    {
      margin-top: 15px;
      align-items: center;
      vertical-align: middle;
      position: relative;
      color:black;
      margin-left: 15px;
    }
    
  .nav ul li a
  {
    margin-top: 15px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    color:black;
    text-align: center;
  }
  .nav ul li:hover
  {
    margin-top: 15px;
    align-items: center;
    vertical-align: middle;
    position: relative;
    background-color: rgb(150, 245, 8);
    width:120px;
    height:25px;
    border-radius: 5px;
   
    
  }
  
  
  .Suggestion { grid-area: Suggestion;
    background-color:rgba(0, 102, 255, 0.705);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
  }
  