*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style:none;
    text-decoration:none;
    border-style:none;
    
}
body{
    background-color:#EEEEEE;
}
/*------------------------Navigation--------------------------*/
.navbar ul
{
    display:block;

}
.navbar ul li
{
    float:right;
    padding:9px;
    
}
.navbar ul li a{color:black}
.navbar ul li a:hover{
    background-color:rgb(109, 243, 127);
    padding:7px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px #D8D2CB;

}

.greet h3
{
    font-weight: lighter;
    color:rgb(182, 169, 169);
    margin-top: 15px;
}
.greet h2
{
    margin-top: 30px;
}

.btn
{
    background-color:rgb(109, 243, 127);
    border:1px none;
    height:30px;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px #D8D2CB;
    margin-top: 15px;
    margin-left: 12px;
    padding:15px;
    text-align: center;
}
.img1
{
    float: right;
    box-shadow: 1px 2px 3px 4px #D8D2CB;
    border-radius: 7px;
}
.block1
{
    width:250px;
    text-align:center;
    border-style:groove;
    height:250px;
    margin-top:43px;
    box-shadow: 1px 2px 3px 4px #D8D2CB;
    border-radius: 7px;

}

.block2
{
    width:250px;
    text-align:center;
    border-style:groove;
    height:250px;
    /*margin-top:52px;*/
    margin-left:25%;
    margin-top:-18.5%;
    box-shadow: 1px 2px 3px 4px #D8D2CB;
    border-radius: 7px;

}
.news
{
    margin-top:10px;
}